 <meta charset="utf-8" />
  <title><%= siteTitle %></title>
  <link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">